<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.patry.provider.mapper.PatryAdminMapper">
  <resultMap id="BaseResultMap" type="com.smart.patry.provider.domain.PatryAdmin">
    <!--@mbg.generated generated on Sat May 23 17:19:02 CST 2020.-->
    <!--@Table patry_admin-->
    <id column="patry_admin_username" jdbcType="VARCHAR" property="patryAdminUsername" />
    <result column="patry_admin_name" jdbcType="VARCHAR" property="patryAdminName" />
    <result column="patry_admin_password" jdbcType="VARCHAR" property="patryAdminPassword" />
    <result column="patry_admin_unit" jdbcType="VARCHAR" property="patryAdminUnit" />
    <result column="login_identity" jdbcType="VARCHAR" property="loginIdentity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat May 23 17:19:02 CST 2020.-->
    patry_admin_username, patry_admin_name, patry_admin_password, patry_admin_unit, login_identity
  </sql>
</mapper>